{% extends 'article_app/base.html' %}

{% block content %}
    <div class="container mt-100 d-flex align-items-right justify-content-right bg-light" style="min-height: 10vh;">
                <section class="vh-100">
            <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post">
                {% csrf_token %}
                <br>
                <div data-mdb-input-init class="form-outline mb-4">
                    {{ user_sign_form.username.label_tag }}
                    {{ user_sign_form.username }}
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
              {{ user_sign_form.password.label_tag }}
              {{ user_sign_form.password }}
          </div><br>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Забыли пароль?</a>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <a href="{% url 'article_app:articles' %}" class = 'btn btn-outline-primary'>Войти</a>
            <p class="small fw-bold mt-2 pt-1 mb-0">Нет аккаунта?
                <a href="{% url 'user_app:register' %}" class="link-danger">Зарегистрироваться</a></p>
          </div>
        </form>
      </div>
    </div>


    </section>
    </div>
{% endblock content %}
