{% extends 'article_app/base.html' %}
{% load static %}

{% block content %}

<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}
    {{ reg_form.as_p }}
     <button>Зарегистрироваться</button>
    <h4><a href="{% url 'user_app:login' %}">Войти</a></h4>
</form>

    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
         class="bg-cover text-white d-flex align-items-center justify-content-center" alt="Sample image"

{% endblock content %}