{% extends 'article_app/base.html' %}

{% block content %}
  <div class="contacts">
              <ul class="contacts-list">
                <li class="contact-list-item">
                  <h3 class="contacts-header"> Адрес </h3>
                  <p class="list-name-descr"> Москва, улица Юности, дом 5 строение 4, офис 2 </p>
                </li>
                <li class="contact-list-item">
                  <h3 class="contacts-header"> Телефоны </h3>
                  <a class="contact-list-link" href="tel:+74995356434"> +7 (499) 535-64-34 </a>
                  <a class="contact-list-link" href="tel:74950050544"> +7 (495) 005-05-44 </a>
                </li>
              </ul>
              </div>

{% endblock content %}